input,
textarea,
.select-dropdown {
  max-width: $max-tablet-input-width;
}

.choice-selector {
  width: $max-tablet-input-width;
}

.physical-traits-form, .license-type-form {
  .choice-selector {
    width: 255px;
  }

  .choice-selector:nth-child(even) {
    margin-right: 14px;
  }
}
