input,
textarea,
.select-dropdown {
  max-width: $max-tablet-input-width;
}

.choice-selector {
  width: $max-tablet-input-width;
}

.physical-traits-form, .license-type-form {
  .choice-selector {
    width: 255px;
  }

  .choice-selector:nth-child(even) {
    margin-right: 14px;
  }
}

// .license-type-form {
//   .choice-selector {
//     .text-region {
//     margin-top: 0px;
//     margin-left: 0px;
//     margin-bottom: 0px;
//     margin-right: 0px;
//      padding: 0px 0px 0px 0px;
//     }
//   }
// }