html {
  background-color: $background-dark;
  @include background-image(linear-gradient($background-light, $background-dark));
  background-repeat: no-repeat;
}

#page {
  width: 600px;
  margin: 0 auto;
  border-left: 1px solid $background-dark;
  border-right: 1px solid $background-dark;
}

#app.inner {
  padding: $page-padding;
}

.hang-left {
  .flag-hanger {
    left: -1 * $page-padding;
    //width: $page-padding;
  }
}
