#page {
  width: 600px;
  margin: 0 auto;
  border-left: 1px solid $neutral-10;
  border-right: 1px solid $neutral-10;
}

#app.inner {
  padding: $page-padding;
}

.hang-left {
  .flag-hanger {
    width: 45px;
    left: -1 * $page-padding - 2px;
  }

  .icon {
    margin-left: 17px;
  }
}
