node_modules
coverage
.env
log
public/*.js*
public/*.css*
**/*.DS_Store

debug.png

server/config/redis.json
server/config/database.json
public/index.html
public/index.dev.html
public/index.stage.html
newrelic_agent.log
newrelic_agent.log
