node_modules
coverage
.env
log
public/app.js
public/app.css
public/app.dev.js
public/app.dev.css
public/app.stage.js
public/app.stage.css
**/*.DS_Store

debug.png

server/config/database.json
public/index.html
public/index.dev.html
public/index.stage.html
