node_modules
coverage
.env
log
public/*.js*
public/*.css*
**/*.DS_Store

debug.png

server/config/database.json
public/index.html
public/index.dev.html
public/index.stage.html
public/app.js.gz
public/app.css.gz
