language: node_js
node_js:
  - "8"
cache:
  directories:
    - "node_modules"
env:
  - APP_ENV=test JWT_SECRET=s3kret JWT_USERS=jwt_user DATABASE_URL=postgresql://ci_tester:pa33word@localhost/travis_ci_test
script:
  - node_modules/knex/bin/cli.js migrate:latest
  - npm run test:coverage
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
services:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -c "CREATE USER ci_tester WITH PASSWORD 'pa33word';" -U postgres
