language: node_js
node_js:
  - "8"
cache:
  directories:
    - "node_modules"
env:
  - JWT_SECRET=s3kret
script:
  - npm run test:coverage
after_success:
  - npm install -g codeclimate-test-reporter
  - codeclimate-test-reporter < coverage/lcov.info
services:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
