#page {
  max-width: $desktop-break-point + 64px; // gets this to 1024 even though breakpoint is smaller
  @include box-shadow($darkest-color 0 0 $spacing/2)
}

#header {
  .inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
