.hang-left {
  margin-top: $spacing;
  margin-bottom: $spacing * 1.5;
  position: relative;

  .flag-hanger {
    position: absolute;
    left: -1 * $page-padding - 2px;
    width: 32px;
    height: 24px;
    background-color: $med-blue;
    @include clip-path(polygon(0% 0%, 0% 100%, 85% 100%, 100% 0%));
  }

  .inner {
    padding: 0;
    padding-left: $spacing;
    padding-top: ceil($spacing / 3);
  }

  .icon {
    margin-left: 8px;
    margin-top: 3px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
  }

  .icon.info {
    background-image: url("/images/icons/misc/info.svg");
  }

  .icon.thanks {
    background-image: url("/images/icons/misc/thanks.svg");
  }
}
