.block {
  @include line;
}

.hidden {
  display: none;
}

.overflow {
  overflow: visible;
}

.no-overflow, .no-scroll {
  overflow: hidden;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.off-screen {
  position: absolute;
  left: -999px;
}



.inner-top {
  padding-top: $spacing;
}

.inner-left {
  padding-left: $spacing;
}

.inner-right {
  padding-right: $spacing;
}

.no-padding {
  padding: 0;
}

// -------
.pad-top-20 {
  padding-top: 20px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-bottom-10 {
  padding-bottom: 10px;
}

.pad-bottom-20 {
  padding-bottom: 20px;
}

// -------



.pointer-cursor {
  cursor: pointer;
}


.rounded {
  @include rounded;
}

.circular {
  @include border-radius(50%);
}



.centered-content {
  text-align: center;
}

.centerable {
  display: inline-block;
}



.shadow-container {
  @include line;
  padding-right: $shadow-padding;
  padding-bottom: $shadow-padding;
}

.shadow {
  @include shadowed;
}

.transparent {
  @include opacity(0);
}

.opaque {
  @include opacity(1);
}

.border {
  @include bordered;
}

.border-left {
  border-left: $border-width solid $neutral-20;
}

.border-right {
  border-right: $border-width solid $neutral-20;
}

.border-top {
  border-top: $border-width solid $neutral-20;
}

.border-bottom {
  border-bottom: $border-width solid $neutral-20;
}

.no-border {
  border: none;
}



// text styles

.wrap {
  @include word-break(break-all);
}

.no-wrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small-text {
  font-size: 0.9*$em;
}

.text-shadow {
  @include text-shadowed;
}

.text-shadow-light {
  @include text-shadowed-light;
}

// colored text

.light-text {
  color: $neutral-20;
}

.primary-text {
  color: $primary;
}

.accent-text {
  color: $accent;
}

.accent-2-text {
  color: $accent-2;
}

.info-text {
  color: $info;
}

.info-2-text {
  color: $info-2;
}

.warn-text {
  color: $warn;
}

.error-text {
  color: $error-dark;
}


// colored backgrounds
.background-light {
  background-color: $lightest-color;
}

.background-dark {
  background-color: $darkest-color;
}

.background-primary {
  background-color: $primary;
}

.background-accent {
  background-color: $accent;
}

.background-accent-2 {
  background-color: $accent-2;
}

.background-info {
  background-color: $info;
}

.background-info-2 {
  background-color: $info-2;
}

.background-warn {
  background-color: $warn;
}

.background-error {
  background-color: $error;
}

.background-lightest-gray {
  background-color: $light-light-gray;
}

.background-neutral-10 {
  background-color: $neutral-10;
}

.background-neutral-20 {
  background-color: $neutral-20;
}

.background-neutral-30 {
  background-color: $neutral-30;
}

.background-neutral-40 {
  background-color: $neutral-40;
}

.background-neutral-50 {
  background-color: $neutral-50;
}

.background-neutral-60 {
  background-color: $neutral-60;
}

.background-neutral-70 {
  background-color: $neutral-70;
}

.background-neutral-80 {
  background-color: $neutral-80;
}

.background-neutral-90 {
  background-color: $neutral-90;
}
