html {
  height: 100%;
  background-color: $background;
  color: $darkest-color;
}

body {}

#page {
  @include line;
  background-color: $lightest-color;
}

#app.inner {
  padding: $spacing $page-padding;
}

.content {
  min-height: 500px;
}

#header {
  background-color: $header-light;
  @include background-image(linear-gradient(to right, $header-light, $header-dark));

  .inner {
    padding: 4px 0 6px;
  }

  .log-out {
    a {
      color: $lightest-color;
    }
  }

  .primary {
    font-size: 13px;
    color: $light-light-gray;
    margin-bottom: 0;

    .dmv-text-logo {
      margin-left: $spacing;
      font-size: 15px;
      margin-top: 1px;
    }

    .dmv-application-area {
      padding-left: $spacing * 0.75;
      margin-top: 3px;
      font-weight: normal;
    }
  }
}

.secondary-header {
  color: $neutral-60;
  margin-top: -$spacing / 2;
  margin-bottom: $spacing;
}

#footer {
  background-color: $neutral-30;

  .links {
    .inner {
      padding: $spacing / 4 $spacing / 2;

      a {
        color: $darkest-color;
        font-size: $font-size-label;
        font-weight: bold;
        line-height: 1.3;
      }
    }
  }

  p {
    font-size: 13px;
  }
}

