html {
  height: 100%;
  background-color: $dark-blue;
  color: $paynes-gray;
}

body {}

#page {
  @include line;
  background-color: $lightest-color;
}

.content {
  min-height: 500px;
}

#header {
  background-color: $header-light;

  .inner {
    padding: 12px $spacing 11px;
  }

  .primary {
    color: $lightest-color;
    @include background-image(linear-gradient(to right, $header-dark, $header-light));
    font-family: $main-font;

    margin-bottom: 0;

    .dmv-text-logo {
      margin-top: 3px;
      font-size: 20px;
    }

    .dmv-application-area {
      padding-left: $spacing * 0.75;
      margin-top: $spacing / 4;
      font-size: $font-size-main;
    }

    .application-header {
      margin-top: 4px;
    }
  }

  .secondary {
    color: $lightest-color;
    margin-bottom: 0;

    .inner {
      padding: 9px 20px 8px;
    }

    background-color: $header-secondary-light;
    font-family: $main-font;
    font-size: 12px;

    .section-information {
      min-height: 35px;
      .number {
        padding-right: 15px;
      }
    }

    .account-information {
      background-color: $header-secondary-dark;
      @include clip-path(polygon(15% 0%, 0% 100%, 100% 100%, 100% 0%));

      .log-out {
        padding-left: 10px;
        min-width: 60px;
        text-align: right;
      }
    }
  }
}

#footer {
  background-color: $dark-blue;
  color: $lightest-color;
}

