.select-dropdown-container {
  margin-bottom: 15px;

  .select-dropdown {
    outline-style: none;
    font-size: $font-size-main * 1.2;
    font-family: $form-font;

    background-color: white;
    color: $darkest-color;

    margin-bottom: 2px; // fixes for the focus sizing on the bottom

    @include bordered;
    @include rounded;

    width: 100px;

    .dropdown-options {
      font-size: $font-size-label;
    }

    &:focus,
    &.focus {
      @include focus-outline-input;
      margin-bottom: 1px;
    }

    &.open {
      .dropdown-options {
        display: block;
      }
    }

    &.error {
      border-bottom-width: $border-width-special;
      border-color: $error;
    }

    .icon {
      height: 16px;
      width: 16px;
      background-image: url("/images/icons/misc/dropdown.svg");
      background-repeat: no-repeat;
    }

    .dropdown-selected {
      min-height: 39px;
      padding: 5px 9px 5px;
    }

    .dropdown-options {
      @include border-bottom-radius($border-radius-size);
      @include border-left-radius($border-radius-size);
      @include border-right-radius($border-radius-size);
      margin-left: -1px;
      margin-top: -2px;
      width: 100px;
      background-color: #F7F7F7;
      max-height: 37px * 2.8;
      overflow-y: scroll;
      border: 1px solid gray;
      display: none;
    }

    .dropdown-option {
      min-height: 30px;
      padding: 5px 9px;
      border-top: 1px solid gray;
      &:hover,
      &.hover {
        background-color: darken(#F7F7F7, 5%);
      }

      &.selected {
        font-weight: bold;
      }
    }
  }
}

