.choice-selector {
  @include line;
  margin-bottom: 14px;
  margin-right: 0;
  width: 100%;

  .outline-container {
    @include line;
    @include rounded;
    border: 1px solid $selector-rest;
    margin: 3px;
  }

  .icon-region {
    width: 48px;
    height: 48px;

    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  .text-region {
    margin-top: 8px;
    padding: 10px 15px;
    font-weight: normal;
    font-size: $font-size-main;
    line-height: 1.2;
  }

  .radio-selector {
    margin-bottom: 0px;
    .icon-region {
      background-image: url("/images/icons/radio/unselected.svg");
    }
  }

  .checkbox-selector {
    margin-bottom: 0px;
    .icon-region {
      background-image: url("/images/icons/checkbox/unselected.svg");
      height: 48px;
      width: 48px;
    }
  }

  &:hover,
  &.hover {
    .outline-container {
      border-width: 2px;
      margin: 2px;
    }
  }

  &.focus {
    .outline-container {
      @include focus-outline;
    }
  }

  &.selected {
    .outline-container {
      border-width: 2px;
      margin: 2px;
    }
    .radio-selector {
      .icon-region {
        background-image: url("/images/icons/radio/selected.svg");
      }
    }

    .checkbox-selector {
      .icon-region {
        background-image: url("/images/icons/checkbox/selected.svg");
      }
    }
  }

  &.choice-selector{
    &.car{
      .checkbox-selector .icon-region{
        background-image: url("/images/icons/license/car.svg");
      }
    }
    &.cycle{
       .checkbox-selector .icon-region{
        background-image: url("/images/icons/license/motorcycle.svg");
      }
    }
    &.trailer{
       .checkbox-selector .icon-region{
        background-image: url("/images/icons/license/5thwheel.svg");
      }
    }
    &.long{
       .checkbox-selector .icon-region{
        background-image: url("/images/icons/license/trailer.svg");
      }
    }
     &.unsure{
       .checkbox-selector .icon-region{
        background-image: url("/images/icons/license/_.svg");
      }
    }
  }
  
  &.choice-selector{
    &.car, &.cycle, &.trailer, &.long, &.unsure{
      .checkbox-selector .icon-region{
        background-color: #2309C1;
      }
    }  
  }

  &.choice-selector{
    &.selected{
      &.car, &.cycle, &.trailer, &.long, &.unsure{
        .checkbox-selector .icon-region{
          background-image: url("/images/icons/checkbox/check.svg");
        }
      }
    }
  }

  &.eyeColor{
    .radio-selector .icon-region{
      background-image: url("/images/icons/selectors/eyeLight.svg");
    }

    &.selected{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/radioLight.svg");
      }
    }

    &.Blue{
      .radio-selector .icon-region{
        background-color: #2309C1;
      }
    }
  
    &.Hazel{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/eyeLight.svg"), linear-gradient(#282D1E, #927622);
        background-position: center;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioDark.svg");
        }
      }
    }
  
    &.Green{
      .radio-selector .icon-region{
        background-color: #208304;
      }
    }
  
    &.Gray{
      .radio-selector .icon-region{
        background-color: #898989;
      }
    }
  
    &.Brown{
      .radio-selector .icon-region{
        background-color: #663F05;
      }
    }
  
    &.Black{
      .radio-selector .icon-region{
        background-color: #000;
      }
    }
  }

  &.hairColor{
    .radio-selector .icon-region{
      background-image: url("/images/icons/selectors/hairLight.svg");
    }

    &.selected{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/radioLight.svg");
      }
    }

    &.Auburn{
      .radio-selector .icon-region{
        background-color: #822800;
      }
    }

    &.Bald{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/blank.svg");
        background-color: transparent;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioDark.svg");
        }
      }
    }

    &.Black{
      .radio-selector .icon-region{
        background-color: #000;
      }
    }

    &.Blonde{
      .radio-selector .icon-region{
        background-color: #FFCF35;
      }
    }

    &.Brown{
      .radio-selector .icon-region{
        background-color: #663F05;
      }
    }

    &.Gray{
      .radio-selector .icon-region{
        background-color: #898989;
      }
    }

    &.Red{
      .radio-selector .icon-region{
        background-color: #CF2C03;
      }
    }

    &.White{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/hairDark.svg");
        background-color: #F6F6F6;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioDark.svg");
        }
      }
    }

    &.Other{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/hairLight.svg"), linear-gradient(#03B9D9, #6F06D5); 
        background-position: center;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioDark.svg");
        }
      }
    }
  }  
}

