.choice-selector {
  @include line;
  margin-bottom: 14px;
  margin-right: 0;
  width: 100%;

  .outline-container {
    @include line;
    @include rounded;
    border: 1px solid $gray;
    margin: 3px;
  }

  .icon-region {
    width: 48px;
    height: 48px;

    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  .text-region {
    margin: 5px 0;
    padding: 10px;
    font-weight: normal;
    font-size: $font-size-main;
    line-height: 1.2;
  }

  .radio-selector {
    margin-bottom: 0px;
    .icon-region {
      background-image: url("/images/icons/radio/unselected.svg");
    }
  }

  .checkbox-selector {
    margin-bottom: 0px;
    .icon-region {
      background-image: url("/images/icons/checkbox/unselected.svg");
      height: 48px;
      width: 48px;
    }
  }

  &:hover,
  &.hover {
    .outline-container {
      border-width: 2px;
      margin: 2px;
    }
  }

  &.focus {
    .outline-container {
      @include focus-outline;
    }
  }

  &.selected {
    .outline-container {
      border-color: #0C4CC3;
      border-width: 2px;
      margin: 2px;
    }
    .radio-selector {
      .icon-region {
        background-image: url("/images/icons/radio/selected.svg");
      }
    }

    .checkbox-selector {
      .icon-region {
        background-image: url("/images/icons/checkbox/selected.svg");
      }
    }
  }

  &.vehicle-class {
    .checkbox-selector .icon-region{
      background-color: $medium-blue;
    }

    &.selected .checkbox-selector .icon-region {
      &.car,
      &.cycle,
      &.trailer,
      &.long {
        background-image: url("/images/icons/checkbox/check.svg");
      }
    }

    .checkbox-selector {
      .icon-region.car {
        background-image: url("/images/icons/license/car.svg");
      }

      .icon-region.cycle {
        background-image: url("/images/icons/license/motorcycle.svg");
      }

      .icon-region.trailer {
        background-image: url("/images/icons/license/5thwheel.svg");
      }

      .icon-region.long {
        height: 84px;
        background-position-y: 12px;
        background-image: url("/images/icons/license/trailer.svg");
      }
    }
  }

  &.endorsements-class {
    .checkbox-selector .icon-region{
      background-color: $medium-blue;
    }

    &.choice-selector {
      width: 320px;
    }

    &.selected .checkbox-selector .icon-region {
      &.double-triple,
      &.tank,
      &.passenger-vehicle,
      &.school-bus,
      &.hazmat,
      &.tank-hazmat,
      &.firefighter {
        background-image: url("/images/icons/checkbox/check.svg");
        background-position: 8px;
      }
    }

    .checkbox-selector {
      .icon-region.double-triple {
        background-image: url("/images/icons/cdl-endorsements/T.svg");
        background-position: 15px 15px;
      }

      .icon-region.tank {
        background-image: url("/images/icons/cdl-endorsements/N.svg");
        background-position: 15px 15px;
      }

      .icon-region.passenger-vehicle {
        background-image: url("/images/icons/cdl-endorsements/P.svg");
        background-position: 15px 15px;
      }

      .icon-region.school-bus {
        background-image: url("/images/icons/cdl-endorsements/S.svg");
        background-position: 15px 15px;
      }

      .icon-region.hazmat {
        height: 65px;
        background-image: url("/images/icons/cdl-endorsements/H.svg");
        background-position: 15px 22px;
      }

      .icon-region.tank-hazmat {
        height: 65px;
        background-image: url("/images/icons/cdl-endorsements/X.svg");
        background-position: 15px 22px;
      }

      .icon-region.firefighter {
        background-image: url("/images/icons/cdl-endorsements/F.svg");
        background-position: 15px 15px;
      }
    }
  }

  &.eyeColor{
    .radio-selector .icon-region{
      background-image: url("/images/icons/selectors/eyeLight.svg");
    }

    &.selected{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/radioLight.svg");
      }
    }

    &.Blue{
      .radio-selector .icon-region{
        background-color: #2309C1;
      }
    }

    &.Hazel{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/eyeLight.svg"), linear-gradient(#282D1E, #927622);
        background-position: center;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioLight.svg"), linear-gradient(#282D1E, #927622);;
        }
      }
    }

    &.Green{
      .radio-selector .icon-region{
        background-color: #208304;
      }
    }

    &.Gray{
      .radio-selector .icon-region{
        background-color: #898989;
      }
    }

    &.Brown{
      .radio-selector .icon-region{
        background-color: #663F05;
      }
    }

    &.Black{
      .radio-selector .icon-region{
        background-color: #000;
      }
    }
  }

  &.hairColor{
    .radio-selector .icon-region{
      background-image: url("/images/icons/selectors/hairLight.svg");
    }

    &.selected{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/radioLight.svg");
      }
    }

    &.Auburn{
      .radio-selector .icon-region{
        background-color: #822800;
      }
    }

    &.Bald{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/blank.svg");
        background-color: transparent;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioDark.svg");
        }
      }
    }

    &.Black{
      .radio-selector .icon-region{
        background-color: #000;
      }
    }

    &.Blonde{
      .radio-selector .icon-region{
        background-color: #FFCF35;
      }
    }

    &.Brown{
      .radio-selector .icon-region{
        background-color: #663F05;
      }
    }

    &.Gray{
      .radio-selector .icon-region{
        background-color: #898989;
      }
    }

    &.Red{
      .radio-selector .icon-region{
        background-color: #CF2C03;
      }
    }

    &.White{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/hairDark.svg");
        background-color: #F6F6F6;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioDark.svg");
        }
      }
    }

    &.Other{
      .radio-selector .icon-region{
        background-image: url("/images/icons/selectors/hairLight.svg"), linear-gradient(#03B9D9, #6F06D5);
        background-position: center;
      }
      &.selected{
        .radio-selector .icon-region{
          background-image: url("/images/icons/selectors/radioLight.svg"), linear-gradient(#03B9D9, #6F06D5);;
        }
      }
    }
  }
}

.radio-input{
  width: 100%;
  display: flex;
  flex-direction: column;
  .text-input-block{
    display: flex;
    margin-bottom: 0px;
    .input-container{
      margin: 1px 0px;
      width: 120%;
      margin-left: -20px;
    }
  }
}
