body {
  color: $darkest-color;
  font-family: $body-font;
  font-size: $em;
  text-rendering: optimizeLegibility;
  line-height: $line-height;
}

h1, h2, h3, h4 {
  font-weight: bold;
  padding-bottom: $em*0.1;
}

p { padding-bottom: $em*0.75; }

h1, h2, h3 { font-family: $headline-font; }
h4, h5, h6 { font-family: $headline-2-font; }

h1 { font-size: $em*1.7; line-height: 1; }
h2 { font-size: $em*1.5; line-height: 1.3; }
h3 { font-size: $em*1.3; line-height: 1.4; }
h4 { font-size: $em; }
h5 { font-size: $em*0.95; font-style: italic; }
h6 { font-size: $em*0.8; line-height: 2; }

a {
  color: darken($primary, 15%);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em { font-style: italic; }
b { font-weight: bold; }

hr {
  border: 0;
  background-color: $neutral-20;
  height: 1px;
}

ul.bullet-list {
  list-style: disc; padding: $spacing; margin: $spacing;

  li { padding: $spacing/2 $spacing; }
}

// TODO: same for numberend list
