body, p {
  color: $darkest-color;
  font-family: $main-font;
  font-size: $font-size-main;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-family: $display-headline;
  font-weight: bold;
  $line-height: 1;
  color: $headline-blue;
  margin-bottom: $spacing / 2;
}

p {
  margin-bottom: $spacing / 2;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;

  &.question {
    color: $green;
  }
}

h3 {
  font-size: 20px;

  &.question {
    color: $green;
  }
}

a {
  color: $dark-blue;
  text-decoration: none;
}

a:hover,
a.hover,
a:active,
a.active {
  text-decoration: underline;
}

a:focus {
  outline: none;
  @include focus-outline;
  margin: 1px;
}

em { font-style: italic; }
b { font-weight: bold; }

hr {
  border: 0;
  background-color: $dark-blue;
  height: 2px;
  margin-bottom: $spacing;
}

ul.bullet-list {
  list-style: disc;
  padding: $spacing;
  margin-left: $spacing;

  li {
    margin-left: $spacing/2;
    padding: $spacing/4 $spacing;
  }
}

ol.decimal-list {
  list-style-type: decimal;
  padding: $spacing;
  margin: $spacing;

  li {
    margin-left: $spacing/2;
    padding: $spacing/4 $spacing;
  }
}

