body, p {
  color: $darkest-color;
  font-family: $body-font;
  font-size: 13px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-family: $headline-font;
  font-weight: bold;
  color: $headline-blue;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
  line-height: 1.3;

  &.question {
    color: $green;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.4;

  &.question {
    color: $green;
  }
}

/*
  --Summary-Label: {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.42;
    text-align: left;
    color: #017842;
  };

  --Accordion-Label: {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    color: #010b96;
    color: var(--primaryGradientLight);
  };

  --Warning-Label: {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #dd0e00;
  };
*/

a {
  color: $dark-blue;
  text-decoration: none;
}

a:hover,
a.hover,
a:active,
a.active {
  text-decoration: underline;
}
a:focus {
  outline: none;
  @include focus-outline;
  margin: 1px;
}

em { font-style: italic; }
b { font-weight: bold; }

hr {
  border: 0;
  background-color: $neutral-20;
  height: 1px;
}

ul.bullet-list {
  list-style: disc;
  padding: $spacing;
  margin-left: $spacing;

  li {
    margin-left: $spacing;
    padding: $spacing/4 $spacing;
  }
}

ol.decimal-list {
  list-style-type: decimal; padding: $spacing; margin: $spacing;
}

