body, p {
  color: $darkest-color;
  font-family: $main-font;
  font-size: $font-size-main;
  line-height: $line-height;
  letter-spacing: $letter-spacing-body;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4 {
  font-family: $display-headline;
  font-weight: bold;
  $line-height: 1;
  color: $headline-blue;
  letter-spacing: $letter-spacing-header;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: $spacing / 2;
}

h1 {
  font-size: $em * 2;
}

h2 {
  font-size: $em * 1.6;

  &.question {
    color: $green;
  }
}

h3 {
  font-size: $em * 1.333;

  &.question {
    color: $green;
  }
}

h5 {
  font-weight: bold;
  color: $neutral-80;
}

h5 {
  color: $neutral-80;
}

a {
  color: $darkest-blue;
}

a:hover,
a.hover,
a:active,
a.active {
  color: $darkest-color;
}

a:not(.button):focus {
  outline: none;
  @include focus-outline;
  margin: 1px;
}

em { font-style: italic; }
b { font-weight: bold; }

hr {
  border: 0;
  background-color: $neutral-30;
  height: 1px;
  margin-bottom: $spacing * 1.5;
  margin-top: $spacing * 2;
}

ul.bullet-list,
ol.decimal-list {
  padding: $spacing / 8 0;
  margin-left: $spacing;
}

ul.bullet-list {
  list-style: disc;
}

ol.decimal-list {
  list-style-type: decimal;
  margin-left: $spacing;
}

li {
  padding-left: $spacing / 2;
  padding-bottom: $spacing / 2;
}

body .locale-tall {
  $em:                    15px * 1.2;
  $font-size-main:        $em;
  $font-size-label:       $em * 1.4;
  $line-height:           1.7;
  $letter-spacing-header: 0.25px;

  font-size:      $em;
  line-height:    $line-height;
  letter-spacing: $letter-spacing-body;

  p {
    font-size: $em;
    line-height: $line-height;
    letter-spacing: $letter-spacing-body;
  }

  h1, h2, h3, h4 {
    letter-spacing: $letter-spacing-header;
  }

  h1 {
    font-size: $em * 2;
  }

  h2 {
    font-size: $em * 1.6;
  }

  h3 {
    font-size: $em * 1.333;
  }

  input[type=submit],
  a.button,
  div.button,
  label.button,
  #header.dmv-text-logo,
  .accordion .accordion-header,
  .choice-selector.text-region,
  .id-me-buttons.id-me-create,
  .id-me-buttons.id-me-sign-in,
  h4 {
    font-size: $font-size-main;
  }

  label,
  a.button.edit,
  a.button.log-out,
  #header.primary,
  #footer.links.a,
  #footer.p,
  .select-dropdown-container.select-dropdown.dropdown-options {
    font-size: $font-size-label;
  }

  .select-dropdown-container.select-dropdown {
    font-size: $font-size-main * 1.2;
  }

  .input,
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  textarea {
    font-size: 1.1 * $font-size-main;
  }
}

body .locale-dense {
  $em:                    15px * 1.14;
  $font-size-main:        $em;
  $font-size-label:       $em * 1.4;
  $line-height:           1.7;
  $letter-spacing-body:   0px;
  $letter-spacing-header: 0px;

  font-size: $em;
  line-height: $line-height;
  letter-spacing: $letter-spacing-body;

  p {
    font-size: $em;
    line-height: $line-height;
    letter-spacing: $letter-spacing-body;
  }

  h1, h2, h3, h4 {
    letter-spacing: $letter-spacing-header;
  }

  h1 {
    font-size: $em * 2;
  }

  h2 {
    font-size: $em * 1.6;
  }

  h3 {
    font-size: $em * 1.333;
  }

  h4,
  input[type=submit],
  a.button,
  div.button,
  label.button,
  #header.dmv-text-logo,
  .accordion .accordion-header,
  .choice-selector.text-region {
    font-size: $font-size-main;
  }

  label,
  a.button.edit,
  a.button.log-out,
  #header.primary,
  #footer.links.a,
  #footer.p,
  .select-dropdown-container.select-dropdown.dropdown-options {
    font-size: $font-size-label;
  }

  .select-dropdown-container.select-dropdown {
    font-size: $font-size-main * 1.2;
  }

  .input,
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  textarea {
    font-size: 1.1 * $font-size-main;
  }
}

