<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DMV - Online ID and License Application</title>
    <meta name="viewport" content="initial-scale=1">
    <link href="/favicon.ico" rel="shortcut icon" type="image/ico">
    <link rel="stylesheet" href="/app.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div id='page'>
      <div id='header'>
        <h1 class='primary inner'>
          <div class='unit dmv-text-logo'>
            DMV
          </div>
          <div class='last-unit dmv-application-area'>
            Driver License Application
          </div>
        </h1>
        <h2 class='secondary'>
          <div class='unit-right account-information'>
            <div class='inner'>
              <div class='unit-right log-out'>&nbsp;</div>
            </div>
          </div>
          <div class='last-unit section-information' id='section-header'>
          </div>
        </h2>
      </div>
      <div class='row content'>
        <div class='inner' id='app'>
        </div>
      </div>
      <div id='footer'>
        <div class='inner'>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/app.js" charset="utf-8"></script>
  </body>
</html>
