<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>DMV card application</title>
    <meta name="build-version" content="<%=htmlWebpackPlugin.options.gitHash%>"/>
    <meta name="viewport" content="initial-scale=1">
    <link href="/favicon.ico" rel="shortcut icon" type="image/ico">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.options.stylesheet%>">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext,vietnamese" rel="stylesheet">
  </head>
  <body>
    <div id='header'>
      <div class='page-row'>
        <div class='unit-right account-information'>
          <div class='inner'>
            <div class='unit-right log-out' id='log-out'></div>
          </div>
        </div>
        <h1 class='primary last-unit'>
          <div class='inner'>
            <div class='unit dmv-text-logo'>
              DMV
            </div>
            <div class='last-unit dmv-application-area' id='application-header'>
            </div>
          </div>
        </h1>
      </div>
    </div>
    <div id='page' class='page-row'>
      <div class='row content'>
        <div class='inner' id='app'>
        </div>
      </div>
    </div>
    <div id='footer'>
      <div class='inner'>
        <div class='links row pad-bottom-20'>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter2/accessibility'>Accessibility</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter2/conditionsofuse'>Conditions of Use</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter2/contactus'>Contact DMV</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter1/CustomerSurveys'>Customer Surveys</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter1/disabilityservices'>Disability Services</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter2/forms'>Forms</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter1/footerhelp'>Help</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter2/privacypolicy'>Privacy Policy</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter2/pubs'>Publications</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter1/sitemap'>Site Map</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter3/careers'>Employment Opportunities</a>
            </div>
          </div>
          <div class='unit size-1-2 t-size-1-3'>
            <div class='inner centered-content'>
              <a target='_blank' href='https://www.dmv.ca.gov/portal/dmv/dmvfooter1/technicalsupport'>Technical Support</a>
            </div>
          </div>
        </div>

        <p class='centered-content'>
          Copyright &copy; 2018 State of California
        </p>
      </div>
    </div>
  </body>
</html>
