$lightest-color: #F7F7F7;
$darkest-color:  #233047;

$dark-blue:   #010B96;
$med-blue:    #000DC9;
$green:       #12814F;
$red:         #DF1515;
$gold:        #FFC900;
$gray:        #7E7D7D;

$focus:       $gold;
$highlight:   $gold;
$button-rest: $med-blue;

// Shades of gray
$neutral-90: mix($lightest-color, $darkest-color, 10%);
$neutral-80: mix($lightest-color, $darkest-color, 20%);
$neutral-70: mix($lightest-color, $darkest-color, 30%);
$neutral-60: mix($lightest-color, $darkest-color, 40%);
$neutral-50: mix($lightest-color, $darkest-color, 50%);
$neutral-40: mix($lightest-color, $darkest-color, 60%);
$neutral-30: mix($lightest-color, $darkest-color, 70%);
$neutral-20: mix($lightest-color, $darkest-color, 80%);
$neutral-10: mix($lightest-color, $darkest-color, 90%);

// Theme based color
$primary:        $dark-blue;
$primary-light:  lighten($primary, 5%);
$primary-dark:   darken($primary, 5%);

$accent:         $med-blue;
$accent-light:   lighten($accent, 10%);
$accent-dark:    darken($accent, 10%);

$accent-2:         $gray;
$accent-2-light:   lighten($accent-2, 1%);
$accent-2-dark:    darken($accent-2, 5%);

// Semantic colors;
$info:          $green;
$info-light:    lighten($info, 5%);
$info-dark:     darken($info, 5%);

$info-2:        $med-blue;
$info-2-light:  lighten($info-2, 5%);
$info-2-dark:   darken($info-2, 5%);

$warn:          $gold;
$warn-light:    lighten($warn, 5%);
$warn-dark:     darken($warn, 5%);

$error:         $red;
$error-light:   lighten($error, 5%);
$error-dark:    darken($error, 5%);
