$black: black;
$white: white;

$navy:          #052561;
$darkest-blue:  #08378E;
$medium-blue:   #0C4CC3;
$bright-blue:   #1D65EA;
$dark-text:     #222430;

$green:         #1A6325;
$red:           #A8142D;
$gold:          #FFC900;

$light-light-gray:  #F6F6F6;

// Shades of gray
$neutral-90: mix($white, $black, 10%);
$neutral-80: mix($white, $black, 20%);
$neutral-70: mix($white, $black, 30%);
$neutral-60: mix($white, $black, 40%);
$neutral-50: mix($white, $black, 50%);
$neutral-40: mix($white, $black, 60%);
$neutral-30: mix($white, $black, 70%);
$neutral-20: mix($white, $black, 80%);
$neutral-10: mix($white, $black, 90%);

$lightest-color:    $white;
$darkest-color:     $dark-text;
$headline-blue:     $navy;
$background:        $light-light-gray;

$gray:              $neutral-50; // not used?
$another-gray:      $neutral-60;

$focus:             transparentize($gold, 0.3);
$button-rest:       $medium-blue;

$header-light:            $darkest-blue;
$header-dark:             $bright-blue;

$selector-rest:           $medium-blue;
$accordion-color:         $neutral-10;
$accordion-hover:         $neutral-30;


// Theme based color
$primary:        $darkest-blue;
$primary-light:  lighten($primary, 5%);
$primary-dark:   darken($primary, 5%);

$accent:         $medium-blue;
$accent-light:   lighten($accent, 10%);
$accent-dark:    darken($accent, 10%);

$accent-2:         $gray;
$accent-2-light:   lighten($accent-2, 1%);
$accent-2-dark:    darken($accent-2, 5%);

// Semantic colors;
$info:          $green;
$info-light:    lighten($info, 5%);
$info-dark:     darken($info, 5%);

$info-2:        $medium-blue;
$info-2-light:  lighten($info-2, 5%);
$info-2-dark:   darken($info-2, 5%);

$warn:          $gold;
$warn-light:    lighten($warn, 5%);
$warn-dark:     darken($warn, 5%);

$error:         $red;
$error-light:   lighten($error, 5%);
$error-dark:    darken($error, 5%);
$error-background:  lighten($red, 60%);
