//$sans-serif-main: "Trebuchet MS", Trebuchet, Tahoma, Geneva, sans-serif;
$sans-serif-main: 'Open Sans', "Trebuchet MS", Trebuchet, Tahoma, Geneva, sans-serif;

$headline-font:   $sans-serif-main;
$headline-2-font: $sans-serif-main;
$body-font:       $sans-serif-main;
$button-font:     $sans-serif-main;
