@mixin line {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}

@mixin bordered {
  border: $border-width solid $neutral-20;
}

@mixin rounded {
  @include border-radius($border-radius-size);
}

@mixin shadowed {
  @include box-shadow(transparentize($darkest-color, 0.3) $shadow-padding/2 $shadow-padding/2 $shadow-padding);
}

@mixin depressed-shadow {
  @include box-shadow(inset transparentize($darkest-color, 0.3) $shadow-padding/2 $shadow-padding/2 $shadow-padding);
}

@mixin text-shadowed {
  @include text-shadow(transparentize($darkest-color, 0.3) 1px 1px 1px);
}

@mixin text-shadowed-light {
  @include text-shadow(1px 1px 0px $lightest-color);
}

@mixin opacity-transition {
  @include transition-property(opacity);
  @include transition-duration(500ms);
}

@mixin button-focused {
  text-decoration: underline;
  color: white;
  border-color: $highlight;
}
