@mixin line {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
}

@mixin bordered {
  border: $border-width solid $gray;
}

@mixin rounded {
  @include border-radius($border-radius-size);
}

@mixin shadowed {
  @include box-shadow(transparentize($darkest-color, 0.3) $shadow-padding/2 $shadow-padding/2 $shadow-padding);
}

@mixin depressed-shadow {
  @include box-shadow(inset transparentize($darkest-color, 0.3) $shadow-padding/2 $shadow-padding/2 $shadow-padding);
}

@mixin text-shadowed {
  @include text-shadow(transparentize($darkest-color, 0.3) 1px 1px 1px);
}

@mixin text-shadowed-light {
  @include text-shadow(1px 1px 0px $lightest-color);
}

@mixin opacity-transition {
  @include transition-property(opacity);
  @include transition-duration(500ms);
}

@mixin focus-outline {
  @include box-shadow(0 0 0 2px $focus);
}

@mixin focus-outline-input {
  @include focus-outline;
  border-bottom-width: $border-width-special;
};
