$em: 15px;
$spacing: 15px;
$page-padding: 20px;

$border-width: 1px;
$border-width-special: 2px;
$border-radius-size: 3px;

$shadow-padding: 4px;
$tablet-break-point: 640px;
$desktop-break-point: 960px;

$arrow-button-text-width: 122px;
$arrow-button-height: 54px;
$arrow-width: 15px;
$arrow-button-padding: 45px;

$max-tablet-input-width: 500px;

$font-size-main:        $em;
$font-size-label:       $em * 13 / 15;
$line-height:           1.6;
$letter-spacing-body:   0.25px;
$letter-spacing-header: 0.5px;
