$em: 18px;
$spacing: 15px;
$page-padding: 15px;

$border-width: 1px;
$border-width-special: 2px;
$border-radius-size: 3px;

$shadow-padding: 4px;
$tablet-break-point: 640px;
$desktop-break-point: 960px;

$arrow-button-text-width: 122px;
$arrow-button-height: 54px;
$arrow-width: 15px;
$arrow-button-padding: 45px;

$max-tablet-input-width: 500px;

$font-size-main:  15px;
$font-size-label: 13px;
$line-height: 1.5;
