label,
.additional-label {
  @include line;
  font-size: $font-size-label;

  &.error {
    color: $error;
  }
}

label {
  margin-bottom: 7px;
  font-weight: bold;
}

.additional-label {
  color: $another-gray;
}
