// Tap buttons, soon to die

.tap.button {
  margin-bottom: $spacing;
  min-width: 160px;
}

.selector-collection .spacer {
  height: 100px;
}

// ------
// Tap-buttonswill be going away!

$tap-hover-color:   $primary;
$tap-normal-border: $neutral-50;
$tap-hover-border:  $neutral-40;
$tap-active-border: $neutral-60;

button.tap,
input[type=submit].tap,
a.button.tap,
div.button.tap,
label.button.tap {
  padding-top:      $spacing * 2;
  padding-bottom:   $spacing * 2;
  background-color: white;
  border-color:     $tap-normal-border;
  color:            $primary;

  &:hover,
  &.hover {
    border-color: $tap-hover-border;
    background-color: darken($lightest-color, 10%);
    color: $tap-hover-color;
  }

  &:active,
  &.active {
    background-color: darken($lightest-color, 5%);
    border-color: $tap-active-border;
  }
}

.focus {
  button.tap,
  input[type=submit].tap,
  a.button.tap,
  div.button.tap,
  label.button.tap {
    text-decoration-line: underline;
    text-decoration-color: $focus;
    border-color: $focus;

    &.selected {
      text-decoration-color: $focus;
      border-color: $focus;
    }
  }
}

$tap-selected-color: $lightest-color;
$tap-selected-background: $med-blue;
$tap-selected-hover-background: darken($med-blue, 10%);
$tap-selected-border: darken($med-blue, 20%);

button.tap.selected,
input[type=submit].tap.selected,
a.button.tap.selected,
div.button.tap.selected,
label.button.tap.selected {
  background-color: $tap-selected-background;
  color: $tap-selected-color;
  border-color: $tap-selected-border;

  &:hover,
  &.hover,
  &:active,
  &.active {
    background-color: $tap-selected-hover-background;
  }
}

.political-party-preference {
  .tap.button {
    width: 300px;
    height: 120px;
    line-height: 1.6;
  }
}

.ballot-language-form {
  .tap.button {
    width: 204px;
  }
}
