.month-input,
.month_0-input,
.month_1-input,
.expirationMonth_0-input,
.expirationMonth_1-input,
.day-input,
.day_0-input,
.day_1-input,
.expirationDay_0-input,
.expirationDay_1-input,
.heightInches-input,
.heightFeet-input,
.part2-input,
.phoneNumber2-input,
.phoneNumber1-input {
  width: $em * 4;
}

.part1-input,
.part3-input,
.weight-input {
  width: $em * 5;
}

.year-input,
.year_0-input,
.year_1-input,
.expirationYear_0-input,
.expirationYear_1-input,
.phoneNumber3-input {
  width: $em * 6;
}

.social-security-dash {
  padding: $spacing / 1.5;
  min-height: 66px;
}

a.sections {
  //color: transparent;
}

a.button.arrow-button.forward.get-started {
  padding-left: 12px;
}

.summary-section {
  h4 {
    color: $green;
  }
}

.summary-content {
  width: 395px;
}

.loading{
  position: absolute;
  top: calc(30% - 4em);
  left: calc(50% - 4em);
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background-image: url("/images/icons/misc/loadingIcon.gif");
  background-position: center;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

.citizens-only {
  padding-bottom: 10px;

  h5 {
    padding: 10px $spacing/2 0 $spacing/4;
  }

  img {
    margin-left: -5px;
  }
}

hr.mid-line {
  margin-top: 20px;
  background-color: $another-gray;
}


.flexPhone {
  display: flex;
  height: 48px;
}

.what-you-can-do-page {
  .icon.card {
    height: 22px;
    width: 35px;
    margin-right: $spacing / 2;
    background-repeat: no-repeat;

    &.new { background-image: url("/images/icons/cards/new.svg"); }
    &.renew { background-image: url("/images/icons/cards/renew.svg"); }
    &.change { background-image: url("/images/icons/cards/change.svg"); }
  }
}

.id-me-buttons {
  margin-bottom: $spacing * 1.5;

  img {
    height: 18px;
    width: 50px;
    margin: 0px 7px;
  }

  .id-me-create,
  .id-me-sign-in {
    @include border-radius($border-radius-size);
    padding: 12px 18px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 15px;

    div {
      margin-top: 1px;
    }
  }

  .id-me-create {
    border: none;
    background-color: $green;
    padding: 12px 43px;
  }

  .id-me-sign-in {
    border-width: 2px;
    border-color: $green;
    color: $green;
    background-color: transparent;
  }

  .or-block {
    width: 300px;
    margin: 0 auto;
    padding: $spacing / 2 0 $spacing;
  }

  .or {
    background-color: white;
    margin: -42px auto 0;
    width: 50px;
    text-align: center;
  }

}
