.month-input,
.month_0-input,
.month_1-input,
.expirationMonth_0-input,
.expirationMonth_1-input,
.day-input,
.day_0-input,
.day_1-input,
.expirationDay_0-input,
.expirationDay_1-input,
.heightInches-input,
.heightFeet-input,
.part2-input,
.phoneNumber2-input,
.phoneNumber1-input {
  width: $em * 4;
}

.part1-input,
.part3-input,
.weight-input {
  width: $em * 5;
}

.year-input,
.year_0-input,
.year_1-input,
.expirationYear_0-input,
.expirationYear_1-input,
.phoneNumber3-input {
  width: $em * 6;
}

.social-security-dash {
  padding: $spacing / 1.5;
  min-height: 66px;
}

a.sections {
  //color: transparent;
}

a.button.arrow-button.forward.get-started {
  padding-left: 12px;
}

.summary-section {
  h4 {
    color: $green;
  }
}

.summary-content {
  width: 395px;
}

.loading{
  position: absolute;
  top: calc(30% - 4em);
  left: calc(50% - 4em);
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background-image: url("/images/icons/misc/loadingIcon.gif");
  background-position: center;
  background-repeat: no-repeat;
}

.hide {
  display: none;
}

.citizens-only-text {
  padding-left: $spacing;
  padding-top: 10px;
}

