.month-input,
.day-input,
.signatureDateMonth-input,
.signatureDateDay-input,
.IDExpirationDateMonth-input,
.IDExpirationDateDay-input,
.heightInches-input,
.heightFeet-input,
.part2-input {
  width: $em * 4;
}

.part1-input,
.part3-input,
.weight-input {
  width: $em * 5;
}

.year-input,
.signatureDateYear-input,
.IDExpirationDateYear-input {
  width: $em * 6;
}

.social-security-dash {
  padding: $spacing / 1.5;
  min-height: 66px;
}

a.sections {
  //color: transparent;
}

a.button.arrow-button.forward.get-started {
  padding-left: 12px;
}

.summary-section {
  h4 {
    color: $green;
  }
}

.loading:empty{
  position: absolute;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  top: calc(30% - 4em);
  left: calc(50% - 4em);
  width: 7em;
  height: 7em;
  border-radius: 50%;
  background-image: url("/images/icons/misc/loadingIcon.gif");
  background-position: center;
  background-repeat: 'no-repeat';
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
