.month-input,
.day-input,
.inches-input,
.weight-input,
.feet-input,
.part2-input {
  width: $em * 2;
}

.part1-input {
  width: $em * 2.5;
}

.part3-input {
  width: $em * 3;
}

.year-input {
  width: $em * 4;
}

.social-security-dash {
  padding: $spacing / 1.5;
}


h1.inner {
  padding: $spacing * 1.5 $spacing;
  font-size: $logo-height;

  .dmv-text-logo {
    font-style: italic;
  }

  .dmv-application-area {
    font-weight: normal;
  }
}


$tap-hover-color:   #0280bb;
$tap-normal-border: #afafaf;
$tap-hover-border:  #c5c5c5;
$tap-active-border: #8c8c8c;

button.tap,
input[type=submit].tap,
a.button.tap,
div.button.tap,
label.button.tap {
  padding-top:      $spacing * 2;
  padding-bottom:   $spacing * 2;
  background-color: white;
  border-color:     $tap-normal-border;
  color:            $primary;

  &:hover,
  &.hover {
    border-color: $tap-hover-border;
    color: $tap-hover-color;
  }

  &:active,
  &.active {
    border-color: $tap-active-border;
  }
}

.focus {
  button.tap,
  input[type=submit].tap,
  a.button.tap,
  div.button.tap,
  label.button.tap {
    text-decoration-line: underline;
    text-decoration-color: $highlight;
    border-color: $highlight;

    &.selected {
      text-decoration-color: #ef8e1c;
      border-color: $highlight;
    }
  }
}

$tap-selected-color: #002435;
$tap-selected-background: #fffef8;
$tap-selected-hover-background: #fdfbf1;
$tap-selected-border: #ef8e1c;

button.tap.selected,
input[type=submit].tap.selected,
a.button.tap.selected,
div.button.tap.selected,
label.button.tap.selected {
  background-color: $tap-selected-background;
  color: $tap-selected-color;
  border-color: $tap-selected-border;

  &:hover,
  &.hover,
  &:active,
  &.active {
    background-color: $tap-selected-hover-background;
  }
}

.hair-color-form,
.eye-color-form {
  .tap.button {
    width: 100px;
  }
}
