@import "tweaks";

.navigation-buttons {
  padding-bottom: 30px;
}

.message-box.error {
  color: $error;
  border: 2px solid $error;
  background-color: $error-background;

  font-weight: bold;
  font-size: $font-size-label;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.error-icon {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("/images/icons/misc/alert.svg");
  margin: 0 6px 0 9px;
}

.scroll-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.scroll-content {
  flex: 1;
  overflow-y: scroll;
  height: 375px;
}

.radio-input-error{
  display: flex;
  align-items: center;
  &.error{
    margin-top: -10px;
    margin-left: 5px;
    margin-bottom: 4px;
    .input-margin-bottom{
      margin-bottom: 0px;
    }
  }
}
