@import "tweaks";

.navigation-buttons {
  padding-bottom: 30px;
}

.message-box.error {
  color: $error;
  border: 2px solid $error;
  background-color: $error-background;

  font-weight: bold;
  font-size: $font-size-label;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.error-icon {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("/images/icons/misc/alert.svg");
  margin-right: 9px;
}
