.month-input,
.day-input,
.heightInches-input,
.heightFeet-input,
.part2-input {
  width: $em * 4;
}

.part1-input,
.part3-input,
.weight-input {
  width: $em * 5;
}

.year-input {
  width: $em * 6;
}

.social-security-dash {
  padding: $spacing / 1.5;
  min-height: 66px;
}

a.sections {
  color: transparent;
}

h1.inner {
  padding: $spacing * 1.5 $spacing;
  font-size: 20px;

  .dmv-text-logo {
    font-style: italic;
  }

  .dmv-application-area {
    font-weight: normal;
  }
}

a.button.arrow-button.forward.get-started {
  padding-left: 12px;
}

.tap.button {
  margin-bottom: $spacing;
  min-width: 160px;
}

.selector-collection .spacer {
  height: 100px;
}

// ------
// Here down all tap-buttons which will be going away!

$tap-hover-color:   $primary;
$tap-normal-border: $neutral-50;
$tap-hover-border:  $neutral-40;
$tap-active-border: $neutral-60;

button.tap,
input[type=submit].tap,
a.button.tap,
div.button.tap,
label.button.tap {
  padding-top:      $spacing * 2;
  padding-bottom:   $spacing * 2;
  background-color: white;
  border-color:     $tap-normal-border;
  color:            $primary;

  &:hover,
  &.hover {
    border-color: $tap-hover-border;
    background-color: darken($lightest-color, 10%);
    color: $tap-hover-color;
  }

  &:active,
  &.active {
    background-color: darken($lightest-color, 5%);
    border-color: $tap-active-border;
  }
}

.focus {
  button.tap,
  input[type=submit].tap,
  a.button.tap,
  div.button.tap,
  label.button.tap {
    text-decoration-line: underline;
    text-decoration-color: $focus;
    border-color: $focus;

    &.selected {
      text-decoration-color: $focus;
      border-color: $focus;
    }
  }
}

$tap-selected-color: $lightest-color;
$tap-selected-background: $med-blue;
$tap-selected-hover-background: darken($med-blue, 10%);
$tap-selected-border: darken($med-blue, 20%);

button.tap.selected,
input[type=submit].tap.selected,
a.button.tap.selected,
div.button.tap.selected,
label.button.tap.selected {
  background-color: $tap-selected-background;
  color: $tap-selected-color;
  border-color: $tap-selected-border;

  &:hover,
  &.hover,
  &:active,
  &.active {
    background-color: $tap-selected-hover-background;
  }
}

.political-party-preference {
  .tap.button {
    width: 300px;
    height: 120px;
    line-height: 1.6;
  }
}

.ballot-language-form {
  .tap.button {
    width: 204px;
  }
}

$selector-rest: #2D3FCA;

.choice-selector {
  @include line;

  .outline-container {
    @include line;
    @include rounded;
    border: 1px solid $selector-rest;
    margin: 3px;
  }

  .icon-region {
    width: 48px;
    height: 48px;

    background-repeat: no-repeat;
    background-position: 6px 6px;
  }

  .text-region {
    padding: 10px 15px;
    font-weight: normal;
    font-size: $em;
  }

  .radio-selector {
    .icon-region {
      background-image: url("/images/icons/radio/unselected.svg");
    }
  }

  .checkbox-selector {
    .icon-region {
      background-image: url("/images/icons/checkbox/unselected.svg");
    }
  }

  &:hover,
  &.hover {
    .outline-container {
      border-width: 2px;
      margin: 2px;
    }
  }

  &.focus {
    .outline-container {
      @include focus-outline;
    }
  }

  &.selected {
    .radio-selector {
      .icon-region {
        background-image: url("/images/icons/radio/selected.svg");
      }
    }

    .checkbox-selector {
      .icon-region {
        background-image: url("/images/icons/checkbox/selected.svg");
      }
    }
  }
}
