button,
input[type=submit] {
  @include line;
}

button,
input[type=submit],
a.button,
div.button,
label.button {
  // overrides that should be in reset/normalize
  outline-style: none;
  resize: none;
  -webkit-appearance: none;
  border: none;

  display: block;
  font-size: $em;
  font-family: $button-font;
  font-weight: bold;
  padding: $spacing*1.2 $spacing*3;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  white-space: normal;
  cursor: pointer;

  background-color: $dark-blue;
  border: $border-width solid $dark-blue;
  color: white;

  @include line;

  &:hover,
  &.hover {
    background-color: darken($primary, 5%);
    border-color: darken($primary, 5%);
  }

  &:focus,
  &.focus {
    background-color: darken($primary, 10%);
    border-color: $focus;
  }

  &:active,
  &.active {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &.disabled.focus,
  &.disabled.hover,
  &.disabled:focus,
  &.disabled:hover {
    background-color: white;
    border-color: $neutral-30;
    color: $darkest-color;
    opacity: 0.7;
  }

  &.neutral {
    background-color: $neutral-30;

    &:hover,
    &:focus {
      background-color: $neutral-20;
    }

    &:active {
      background-color: $neutral-40;
    }
  }
}

$arrow-button-text-width: 122px;
$arrow-button-height: 54px;
$arrow-width: 15px;

button.arrow-button {
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: $arrow-button-text-width + $arrow-width;
  height: $arrow-button-height;

  &.backwards {
    color: $button-rest;
    text-align: right;
    padding-right: 2.25 * $em;
    background-image: url("/images/arrow-buttons/backwards/rest.svg");
  }

  &.forward {
    color: white;
    text-align: left;
    padding-left: 2.25 * $em;
    background-image: url("/images/arrow-buttons/forward/rest.svg");
  }

  &.focus,
  &:focus {
    &.backwards {
      background-image: url("/images/arrow-buttons/backwards/rest-focused.svg");
    }
    &.forward {
      background-image: url("/images/arrow-buttons/forward/rest-focused.svg");
    }
  }

  &.hover,
  &:hover {
    &.backwards {
      color: $dark-blue;
      background-image: url("/images/arrow-buttons/backwards/hover.svg");
    }
    &.forward {
      background-image: url("/images/arrow-buttons/forward/hover.svg");
    }
  }

  &.hover.focus,
  &:hover:focus {
    &.backwards {
      color: $dark-blue;
      background-image: url("/images/arrow-buttons/backwards/hover-focused.svg");
    }
    &.forward {
      background-image: url("/images/arrow-buttons/forward/hover-focused.svg");
    }
  }

  &.active,
  &:active {
    &.backwards {
      background-image: url("/images/arrow-buttons/backwards/active.svg");
    }
    &.forward {
      background-image: url("/images/arrow-buttons/forward/active.svg");
    }
  }

  &.active.focus,
  &:active:focus {
    &.backwards {
      background-image: url("/images/arrow-buttons/backwards/active-focused.svg");
    }
    &.forward {
      background-image: url("/images/arrow-buttons/forward/active-focused.svg");
    }
  }

}
