button,
input[type=submit] {
  @include line;
}

button,
input[type=submit],
a.button,
div.button,
label.button {
  // overrides that should be in reset/normalize
  outline-style: none;
  resize: none;
  -webkit-appearance: none;
  border: none;

  display: block;
  font-size: $em;
  font-family: $button-font;
  font-weight: bold;
  padding: $spacing*1.2 $spacing*3;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  white-space: normal;
  cursor: pointer;

  background-color: $dark-blue;
  border: $border-width solid $dark-blue;
  color: white;

  @include line;

  &:hover,
  &.hover {
    //background-color: $button-hover;
    //border-color: $button-hover;
  }

  &:focus,
  &.focus {
    //text-decoration-line: underline;
    //text-decoration-color: $highlight;
    //border-color: $highlight;
  }

  &:active,
  &.active {
    //background-color: $button-active;
    //border-color: $button-active;
  }

  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &.disabled.focus,
  &.disabled.hover,
  &.disabled:focus,
  &.disabled:hover {
    //border: $border-width solid $disabled-border;
    //padding: $spacing*1.2 - $border-width $spacing*3 - $border-width;
    //background-color: $disabled-background;
    //color: $disabled-color;
    //text-decoration: none;
  }

  &.accent {
    background-color: $primary;

    &:hover {
      background-color: $primary-light;
    }

    &:active {
      background-color: $primary-dark;
    }
  }

  &.accent-2 {
    background-color: $accent-2;

    &:hover {
      background-color: $accent-2-light;
    }

    &:active {
      background-color: $accent-2-dark;
    }
  }

  &.neutral {
    background-color: $neutral-30;

    &:hover,
    &:focus {
      background-color: $neutral-20;
    }

    &:active {
      background-color: $neutral-40;
    }
  }

  &.info {
    background-color: $info;
    color: $neutral-10;

    &:hover {
      background-color: $info-light;
    }

    &:active {
      background-color: $info-dark;
    }
  }

  &.info-2 {
    background-color: $info-2;
    color: $neutral-10;

    &:hover {
      background-color: $info-2-light;
    }

    &:active {
      background-color: $info-2-dark;
    }
  }

  &.warn {
    background-color: $warn;
    color: $neutral-10;

    &:hover {
      background-color: $warn-light;
    }

    &:active {
      background-color: $warn-dark;
    }
  }
}

$arrow-button-text-width: 122px;
$arrow-button-height: 54px;
$arrow-width: 15px;

.arrow-button {
  padding: 0;
  background-color: transparent;
  border: none;
  position: relative;
  width: $arrow-button-text-width + $arrow-width;
  height: $arrow-button-height;

  .text {
    position: absolute;
    top: 0;
    padding: $spacing * 1.25;
    background-color: $med-blue;
    height: $arrow-button-height;
    width: $arrow-button-text-width;
    @include rounded;
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border-top: $arrow-button-height / 2 solid transparent;
    border-bottom: $arrow-button-height / 2 solid transparent;
  }

  &.backwards {
    .text {
      right: 0px;
    }
    .triangle {
      left: 1px;
      border-right: $arrow-width solid $med-blue;
    }
  }

  &.forward {
    .triangle {
      right: 1px;
      border-left: $arrow-width solid $med-blue;
    }
  }

  &.hover,
  &:hover {
    .triangle {
      border-right-color: darken($med-blue, 10%);
      border-left-color: darken($med-blue, 10%);
    }
    .text {
      background-color: darken($med-blue, 10%);
    }
  }

  &.active,
  &:active {
    .triangle {
      border-right-color: darken($med-blue, 5%);
      border-left-color: darken($med-blue, 5%);
    }
    .text {
      background-color: darken($med-blue, 5%);
    }
  }

  &.error {
    .triangle {
      border-right-color: $error;
      border-left-color: $error;
    }
    .text {
      background-color: $error;
    }
  }

  &.error.hover,
  &.error:hover {
    .triangle {
      border-right-color: darken($error, 10%);
      border-left-color: darken($error, 10%);
    }
    .text {
      background-color: darken($error, 10%);
    }
  }

  &.error.active,
  &.error:active {
    .triangle {
      border-right-color: darken($error, 5%);
      border-left-color: darken($error, 5%);
    }
    .text {
      background-color: darken($error, 5%);
    }
  }
}
