button,
input[type=submit] {
  @include line;
}

button,
input[type=submit],
a.button,
div.button,
label.button {
  // overrides that should be in reset/normalize
  outline-style: none;
  resize: none;
  -webkit-appearance: none;
  border: none;

  display: block;
  font-size: $em;
  font-family: $button-font;
  font-weight: bold;
  padding: $spacing*1.2 $spacing*3;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  white-space: normal;
  cursor: pointer;

  background-color: $dark-blue;
  border: $border-width solid $dark-blue;
  color: white;

  @include line;

  &:hover,
  &.hover {
    background-color: darken($primary, 5%);
    border-color: darken($primary, 5%);
  }

  &:focus,
  &.focus {
    background-color: darken($primary, 10%);
    text-decoration-line: underline;
    border-color: $focus;
  }

  &:active,
  &.active {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }

  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &.disabled.focus,
  &.disabled.hover,
  &.disabled:focus,
  &.disabled:hover {
    background-color: white;
    border-color: $neutral-30;
    color: $darkest-color;
    opacity: 0.7;
  }

  &.neutral {
    background-color: $neutral-30;

    &:hover,
    &:focus {
      background-color: $neutral-20;
    }

    &:active {
      background-color: $neutral-40;
    }
  }
}

$arrow-button-text-width: 122px;
$arrow-button-height: 54px;
$arrow-width: 15px;

.arrow-button {
  padding: 0;
  background-color: transparent;
  border: none;
  position: relative;
  width: $arrow-button-text-width + $arrow-width;
  height: $arrow-button-height;
  color: white;

  .text {
    position: absolute;
    top: 0;
    padding: $spacing * 1.25;
    background-color: $med-blue;
    height: $arrow-button-height;
    width: $arrow-button-text-width;
    @include rounded;
  }

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    border-top: $arrow-button-height / 2 solid transparent;
    border-bottom: $arrow-button-height / 2 solid transparent;
  }

  &.backwards {
    .text {
      right: 0px;
    }
    .triangle {
      left: 1px;
      border-right: $arrow-width solid $med-blue;
    }
  }

  &.forward {
    .triangle {
      right: 1px;
      border-left: $arrow-width solid $med-blue;
    }
  }

  &.hover,
  &:hover {
    background-color: transparent;
    .triangle {
      border-right-color: darken($med-blue, 10%);
      border-left-color: darken($med-blue, 10%);
    }
    .text {
      background-color: darken($med-blue, 10%);
    }
  }

  &.active,
  &:active {
    background-color: transparent;
    .triangle {
      border-right-color: darken($med-blue, 5%);
      border-left-color: darken($med-blue, 5%);
    }
    .text {
      background-color: darken($med-blue, 5%);
    }
  }

  &.error {
    background-color: transparent;
    .triangle {
      border-right-color: $error;
      border-left-color: $error;
    }
    .text {
      background-color: $error;
    }
  }

  &.error.hover,
  &.error:hover {
    background-color: transparent;
    .triangle {
      border-right-color: darken($error, 10%);
      border-left-color: darken($error, 10%);
    }
    .text {
      background-color: darken($error, 10%);
    }
  }

  &.error.active,
  &.error:active {
    background-color: transparent;
    .triangle {
      border-right-color: darken($error, 5%);
      border-left-color: darken($error, 5%);
    }
    .text {
      background-color: darken($error, 5%);
    }
  }

  &.focus,
  &:focus {
    background-color: transparent;
    .text span {
      @include focus-outline;
    }
  }
}
