

form .spacer {
  height: $spacing * 4;
}

form .radio-collection .spacer {
  height: $em;
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}
input[type=radio] {
  -webkit-appearance: radio;
}


form {
  .error {
    input[type=text],
    input[type=password],
    input[type=email],
    textarea {
      margin-bottom: -1px;
      border-bottom-width: $border-width-special;
      border-color: $error;
    }
  }
}
