.input-container {
  margin-top: $input-top-padding + $input-border-width + ceil($shadow-padding/2);
  margin-bottom: $input-top-padding;
  margin-right: $input-side-padding + ceil($shadow-padding/2);
  margin-left: $input-side-padding;
}

.input,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea {
  // overrides that should be in reset/normalize
  outline-style: none;
  resize: none;
  -webkit-appearance: none;

  @include line;
  @include input-margin-fix;
  @include bordered;

  background-color: white;
  font-size: $em;
  color: black;
  padding: $input-top-padding  $input-side-padding;

  &:focus,
  &.focus {
    @include button-focused;
    @include focus-input-padding-fix;
    color: black;
    text-decoration: none;
  }
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}
input[type=radio] {
  -webkit-appearance: radio;
}

textarea {
  min-height: 100px;
}
@-moz-document url-prefix() {
  textarea {
    font-family: $body-font;
  }
}

form {
  .error-message {
    display: none;
  }

  .error {
    .error-message {
      display: block;
      color: $error-dark;
    }

    .file-input {
      border: $input-border-width solid $error;
    }

    input[type=text],
    input[type=password],
    input[type=email],
    textarea {
      border: $input-border-width-special solid $error;
      @include focus-input-padding-fix;

      &:focus {
        @include focus-input-padding-fix;
        border: $input-border-width-special solid $primary;
      }
    }
  }
}
