.input-container {
  margin-bottom: $spacing;
}

form .spacer {
  height: $spacing * 4;
}

form .radio-collection .spacer {
  height: $em;
}

label {
  font-size: 12px;
  font-weight: bold;
}

.input,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea {
  // overrides that should be in reset/normalize
  outline-style: none;
  resize: none;
  -webkit-appearance: none;

  @include line;
  @include bordered;
  @include rounded;
  padding: $spacing;

  background-color: white;
  color: $darkest-color;
  font-size: $em;

  margin-bottom: 2px; // fixes for the focus sizing on the bottom

  &:focus,
  &.focus {
    @include focus-outline;
    margin-bottom: -1px;
  }
}

input[type=checkbox] {
  -webkit-appearance: checkbox;
}
input[type=radio] {
  -webkit-appearance: radio;
}

textarea {
  min-height: 100px;
}
@-moz-document url-prefix() {
  textarea {
    font-family: $body-font;
  }
}

form {
  .error-message {
    display: none;
  }

  .error label,
  label.error {
    color: $error-dark;
  }

  .error {
    input[type=text],
    input[type=password],
    input[type=email],
    textarea {
      margin-bottom: -1px;
      border-bottom-width: $border-width-special;
      border-color: $error;
    }
  }
}
